@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal; 
    color: #0b203c; 
}
.table-btn {
    text-decoration: none;
    margin: 40px;
    background-color: #2c61fe;
    color: white;
    text-align: center;
    font-size: larger;
    padding: 10px 20px;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
}
.table-btn:hover{
    background-color: #2953d6
}
.container{
    max-width: 1850px;
    margin: 0 auto;
}
.product-con{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 1rem;
    align-items: stretch;
}
.product-item{
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px;
    transition: 0.3s;
    outline: 3px solid white;
    border-radius: 12px;
}
.product-item:hover{
    outline: 3px solid blue;
}
.product-detail{
    padding: 1rem;
    background-color: #ebedf1;
    flex: 1;
}
.product-detail h3{
    font-weight: 500;
    margin-bottom: 10px;
}
.product-detail p{
    font-weight: 300;
}
.product-img img{
    width: 100%;
    height: 250px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.product-price{
    display: flex;
    padding: 1rem;
    background-color: #ebedf1;
    justify-content: space-between;
    align-items: center;
}