@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;   
}
.container{
    max-width: 1200;
    margin: 0 auto;
}
.maincontent-img img{
    border-radius: 8px;
}
nav{
    padding: 1rem;
    background-color: #333;
}
.nav-con{
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 2rem;
    color: #ebedf1;
    text-decoration: none;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li{
    margin: 0 1rem;
}
.menu li a{
    color: #ebedf1;
    text-decoration: none;
} 

.maincontent{
    background-color: #ebedf1;
    height: 600px;
    border-color: #333;
    max-width: 1700px;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 40px;
}
.maincontent-con{
    display: flex;
}
.maincontent-info{
    width: 100%;
    padding: 2rem;
}
.maincontent-info h3{
    font-size: 2rem;
}
.maincontent-info p{
    margin: 1rem 0;
}
.maincontent-info .maincontent-btn{
    background-color: #333;
    color: #ebedf1;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
}
.maincontent-img{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

/* -----content----- */
.content{
    background-color: #ebedf1;
    height: 550px;
    border-color: #333;
    max-width: 1700px;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 10px;
    justify-content: center;
}
.content-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;;
}
.content-con{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    text-align: center;
    aspect-ratio: 1/1;
}
.content-con img{
    border-radius: 8px;
}
.content-title{
    margin: 2rem 0;
    color: #333;
    font-weight: 500;
}
.content-item h4{
    margin-top: 1rem;
    font-weight: 500;
}
.content-item p{
    margin: 1rem 0;
}
.content-item a{
    display: inline-block;
    color: #ebedf1;
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

/* -----service----- */
.ser-container{
    background-color: #ebedf1;
    height: 650px;
    border-color: #333;
    max-width: 1700px;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 40px;
    justify-content: center;
}
.ser-title {
    text-align: center;
    font-size: 2rem; 
    color: #333; 
}
.ser-detail{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    text-align: center;
    aspect-ratio: 1/1;
    margin-top: 25px;
}
.facility-container{
  display: grid;
  list-style-type: disc;
  padding-left: 20px;
  grid-template-columns: repeat(3, 1fr); 
  align-items: center;
  background-color: #ebedf1;
  max-width: 1500px;
  margin: auto;
  border-radius: 8px;
  margin-top: 20px;
}
.fac-item{
  padding: 10px;
  display: list-item;
  align-items: center;
  font-size: 14px;
  color: #333;
  list-style-position: inside;
}
.ser-item{
    position: relative;
}
.ser-item img{
    width: 400px;
    height: 250px;
    border-radius: 8px;  
}