@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Mitr", sans-serif;
    font-weight: 400;
    font-style: normal;   
}
.container{
    max-width: 1200;
    margin: 0 auto;
}
.maincontent-img img{
    border-radius: 8px;
}
nav{
    padding: 1rem;
    background-color: #333;
}
.nav-con{
    display: flex;
    justify-content: space-between;
}
.logo a{
    font-size: 2rem;
    color: #ebedf1;
    text-decoration: none;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li{
    margin: 0 1rem;
}
.menu li a{
    color: #ebedf1;
    text-decoration: none;
} 

.maincontent{
    background-color: #ebedf1;
    height: 600px;
    border-color: #333;
    max-width: 1700px;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 40px;
}
.maincontent-con{
    display: flex;
}
.maincontent-info{
    width: 100%;
    padding: 2rem;
}
.maincontent-info h3{
    font-size: 2rem;
}
.maincontent-info p{
    margin: 1rem 0;
}
.maincontent-info .maincontent-btn{
    background-color: #333;
    color: #ebedf1;
    padding: 10px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 400;
    margin-top: 10px;
}
.maincontent-img{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

/* -----content----- */
.content{
    background-color: #ebedf1;
    height: 580px;
    border-color: #333;
    max-width: 1700px;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 10px;
    justify-content: center;
}
.content-title{
    text-align: center;
    font-size: 2rem;
    font-weight: 500;;
    padding-top: 30px; 
}
.content-con{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    text-align: center;
    aspect-ratio: 1/1;
}
.content-con img{
    border-radius: 8px;
}
.content-title{
    margin: 2rem 0;
    color: #333;
    font-weight: 500;
}
.content-item h4{
    margin-top: 1rem;
    font-weight: 400;
    font-size: 20px;
}
.content-item p{
    margin: 1rem 0;
}
.content-item a{
    display: inline-block;
    color: #ebedf1;
    background-color: #333;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}

/* -----service----- */
.service-container{
    background-color: #ebedf1;
    height: 740px;
    border-color: #333;
    max-width: 1700px;
    align-items: center;
    border-radius: 15px;
    margin-left: 80px;
    margin-top: 40px;
    justify-content: center;
}
.service-title {
    text-align: center;
    font-size: 2rem; 
    color: #333;
    padding-top: 30px; 
}
.service-detail{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 1.5rem;
    text-align: center;
    aspect-ratio: 1/1;
}
.facility-container{
    background-color: #ebedf1;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-template-rows: repeat(6, auto);
    gap: 0px 80px;
    padding: 30px;
    border-radius: 8px;
    list-style-type: disc;
}
.facility-item{
    padding: 8px;
    display: list-item;
    align-items: center;
    color: #333;
    list-style-position: inside;
}
.service-item{
    position: relative;
}
.service-item img{
    width: 500px;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;  
}